<h1>Add role</h1>

<form method="post" asp-action="Add">
    <div class="form-group">
        <label class="form-label">Enter Role</label>
        <input class="form-control" type="text" name="roleName" required/>
    </div>
    <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Home">Cancel</a>
    <button class="btn btn-primary">Submit</button>
</form>