<div class="w-75 m-auto mt-5">
    <h1 class="text-center">Profile Settings</h1>
    <div class="row mt-4">
        <div class="col-3">
            <a asp-action="UpdatePersonalInfo" class="btn btn-outline-primary">Update Personal Info</a>
        </div>

        <div class="col-3">
            <a asp-action="ChangeUserName" class="btn btn-outline-primary">Change Username</a>
        </div>

        <div class="col-3">
            <a asp-action="PasswordChange" class="btn btn-outline-primary">Change Password</a>
        </div>

        <div class="col-3">
            <a asp-action="DeleteUser" class="btn btn-danger">Delete User</a>
        </div>
    </div>
</div>